# From .NET Core 3.0 you can use the command: `dotnet new gitignore` to generate a customizable .gitignore file

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
servercraft/[Dd]ebug/
servercraft/[Dd]ebugPublic/
servercraft/[Rr]elease/
servercraft/[Rr]eleases/
servercraft/x64/
servercraft/x86/
servercraft/build/
servercraft/bld/
servercraft/[Bb]in/
servercraft/[Oo]bj/
servercraft/msbuild.log
servercraft/msbuild.err
servercraft/msbuild.wrn

# Visual Studio 2015
.vs/