<!-- Views/Shared/_SearchFilter.cshtml -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Categories</h3>
    </div>
    <div class="panel-body">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="rack"> Rack Servers
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="tower"> Tower Servers
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="blade"> Blade Servers
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="storage"> Storage Servers
            </label>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Brands</h3>
    </div>
    <div class="panel-body">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="dell"> Dell
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="hp"> HP
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="lenovo"> Lenovo
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="cisco"> Cisco
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="ibm"> IBM
            </label>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Price Range</h3>
    </div>
    <div class="panel-body">
        <div id="price-slider"></div>
        <div class="row price-range">
            <div class="col-xs-6">$500</div>
            <div class="col-xs-6 text-right">$20,000</div>
        </div>
    </div>
</div>